#memories {
    margin-top: 10rem;
    overflow: hidden;
}

#memories-container{
    padding-left: 6rem;
    column-gap: 2rem;
}
.memories-main-heading{
    color: #000;
    text-align: center;
    /* h2 */
    font-family: "Inter", sans-serif;
    font-size: clamp(1.125rem, 2.085vw + 1.124rem, 3rem);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.memories-heading {
    color: #000;
    text-align: center;
    /* h2 */
    font-family: "Inter", sans-serif;
    font-size: clamp(1.125rem, 2.085vw + 1.124rem, 3rem);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.custom-border {
    /* padding: 15px; */
    border: 1px solid var(--blue);
    /* height: 100%; */
}

.memories-info {
    left: 0;
    text-align: center;
    padding-left: 3rem;
    padding-bottom: 2rem;
}

.memories-heading {
    color: #FFF;
    /* h3 */
    font-family: "Inter", sans-serif;
    font-size: clamp(2rem, 0vw + 2rem, 2rem);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 1rem;
}

.memories-subtitle {
    color: #FFF;
    font-family: "Inter",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.custom-div{
    /* width: 367px;
    height: 367px;
    flex-shrink: 0; */
    /* margin-right: -3.8rem; */
}