@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  /* define the colors here */
  --blue: #003C82;
  --primary: var(--blue);
  --bg-primary:var(--blue);
}


.App{
  font-family: "inter",sans-serif;
  overflow: hidden;
}